@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


* {
  padding: 0%;
  margin: 0%;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;

}

.row {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;

}

.mt-10 {
  margin-top: 30px;
}

.width {
  width: 100%;
}

.align-item-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.d-flex {
  display: flex;
  align-items: center;
}

.card {
  background: #FFFFFF;
  box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 30px 30px;
  margin: 20px 10px;

}

.cardheading {
  padding: 5px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.calendericon {
  padding: 5px;
}

.peopleicon {
  padding: 5px;
}

.locationicon {
  padding: 5px;
}

.colortext {
  color: #000000;
}

.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  border-radius: 32px;
  background: #2C49FE;
}

.b-radius {
  border-radius: 20px;
  overflow: hidden;
}

.head1 {
  font-family: 'Poppins';
  font-weight: 700;
  text-align: center;
  color: #000000;
  margin-top: 10px;
}

.line1 {
  margin-top: 30px;
  height: 0px;
}

.event1 {
  color: #2C49FE;
  font-size: 30px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 135%;

}

.free1 {
  color: #01C8FF;
  font-size: 30px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 135%;

}

.event2 {
  color: #2C49FE;
  font-size: 36px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 135%;
}

.free2 {
  color: #01C8FF;
  font-size: 36px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 135%;
}

.date {
  color: #666666;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.mumbai {
  color: #666666;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.people {
  color: #666666;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}


.justify-content-between {
  justify-content: space-between;
}

nav ul {
  gap: 20px;
  display: flex;
}

.py-5 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.Open-btn {
  color: #2C49FE;
}

.menu-btn {
  z-index: 1;
}

.font {
  font-family: 'Poppins', sans-serif;
}

nav {
  background-image: url(../images/bckimg.png);
  background-size: cover;
  background-position: center;
}

.text-white {
  color: white;
}

.home {
  font-family: 'Poppins', sans-serif;
  margin-top: 50px;
}

.events {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  width: 214px;
  height: 96px;
}

.logout {
  background: #2C49FE;
  border-radius: 23px;
  padding: 11px 28px;
}

.col-3 {
  width: 25%;
  padding-left: 12px;
  padding-right: 12px;
}

.col-4 {
  width: 33.33%;
  padding-left: 12px;
  padding-right: 12px;
}

.col-5 {
  width: 41.66%;
  padding-left: 12px;
  padding-right: 12px;
}

.col-6 {
  width: 50%;
  padding-left: 12px;
  padding-right: 12px;
}

.col-7 {
  width: 58.33%;
  padding-left: 12px;
  padding-right: 12px;
}

.col-12 {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
}

.bg-black {
  background-color: black;
}

.mb-24 {
  margin-bottom: 24px;
}

.w-100 {
  width: 100%;
}

.mt--100 {
  margin-top: 100px;
}

.text-white {
  color: white;
}

.show-more {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  background: rgba(45, 60, 174, 0.53);
  height: 100%;
  width: 100%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px;

}

.paragraph2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 15px;
  margin-top: 20px;


}

.paragraph {
  display: flex;
  justify-content: center;
  padding-bottom: 23px;
  font-family: 'Poppins';
  font-size: 10px;
}

.mb-11 {
  margin-bottom: 11px;
}

.pt-100 {
  padding-top: 50px;
}

.mb3 {
  margin-right: 10px;
}

.mb1 {
  margin-right: 10px;
  margin-left: 10px;
}

.event1 {
  margin-bottom: 15px;
}

.mt40 {
  padding-top: 40px;
}

.img1 {
  margin-bottom: 44px;
}

.service {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  align-items: center;
}

.imglogo {
  width: 70px;
  height: 60px;
}

@media (min-width:576px) {
  .col-sm-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .evntimg1 {
    width: 40%;
  }

  .evntimg2 {
    width: 70%;
  }
}

@media (min-width:768px) {

  .col-md-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .col-md-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .col-md-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .head1{
    font-size: 48px;
  }
 }

@media (min-width:992px) {
  .col-lg-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .col-lg-5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .col-lg-7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .paragraph2 {
    max-width: 320px;
  }
}

@media (max-width:768px) {
  .butn {


    flex-direction: column;
    position: fixed;
    top: 0;
    right: -800px;
    width: 100%;
    background-color: #f4b38b;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    transition: all 1000ms linear;

  }

  input[type="checkbox"]:checked+.butn {
    right: 0%;
  }


}

@media (min-width:768px) {
  .menu-btn {
    display: none;
  }
}